@{
    ViewBag.Title = "菜单列表";
}
<table id="dg"></table>
<div id="dialog" style="overflow:hidden"></div>

@section scripts{
<script type="text/javascript">
    $(function ()
    {
        InitDataGrid();
    });

    function InitDataGrid()
    {
        $('#dg').datagrid(
        {
            url: '/MenuClass/List',
            method: 'post',
            rownumbers: true,
            pagination: true,
            fit: true,
            striped: true,
            showFooter: true,
            sortName: 'Code',
            sortOrder: 'desc',
            columns: [[                
                { title: '编号', field: 'Code', width: 80, sortable: true },
                { title: '名称', field: 'Name', width: 120, sortable: true },
                { title: '描述', field: 'Description', width: 120, sortable: true },
                { title: '上级编号', field: 'ParentCode', width: 120, sortable: true },                
                { title: '是否选择', field: 'IsUsed', width: 100, align: 'center',
                    formatter: function (val,row) {
                        return val == true ? '<input name="user_list" type="checkbox" checked="true" disabled="true">' : '<input name="user_list" type="checkbox" disabled="true">';
                    }
                }
                ]],
            toolbar: [                
            {
                id: 'btnreload',
                text: '刷新',
                iconCls: 'icon-reload',
                handler: function ()
                {
                    $('#dg').datagrid('reload');
                }
            },
            {
                id: 'btnadd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function ()
                {
                    $('#btnsave').linkbutton('enable');
                    Add();

                }
            },
                {
                    id: 'btnedit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function ()
                    {
                        $('#btnedit').linkbutton('enable');
                        Edit();
                    }
                }, '-',
                {
                    id: 'btndetele',
                    text: '删除',
                    iconCls: 'icon-cancel',
                    handler: function ()
                    {
                        Delete();
                    }
                }
            ]

        });
    }

    function Add()
    {
        $('#dialog').dialog(
            {
                title: '添加',
                iconCls: 'icon-add',
                width: 600,
                height: 400,
                closed: false,
                cache: false,
                modal: true,
                onClose: function ()
                {
                    $('#dg').datagrid("reload");
                },
                content: CreateIFame("/MenuClass/Create")
            });
    }

    function Edit()
    {
        var row = $('#dg').datagrid('getSelected');
        if (row)
        {
            $('#dialog').dialog(
            {
                title: '编辑',
                iconCls: 'icon-edit',
                width: 600,
                height: 400,
                closed: false,
                cache: false,
                modal: true,
                onClose: function ()
                {
                    $('#dg').datagrid("reload");
                },
                content: CreateIFame("/MenuClass/Edit/" + row.Code)
            });
        }
    }

    function Delete()
    {
        var row = $('#dg').datagrid('getSelected');
        if (row)
        {
            $.messager.confirm('警告', '确定要删除吗？', function (r)
            {
                $.post('/MenuClass/Delete', { id: row.Code }, function (result)
                {
                    if (result.message)
                    {
                        $.messager.show({
                            title: '提示',
                            msg: result.message
                        });
                    }
                    else
                    {
                        $('#dg').datagrid('reload');
                    }
                }, 'json');
            });
        }
    }
</script>
    }

